@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 5px;
  width: 100%;
}

#head {
  position: relative;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/Back\ Limon.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0% 40%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
}
#head .sochial {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 120px;
}
#head .sochial .insta:hover {
  color: #C13584;
  background-color: #FFFFFF;
}
#head .sochial a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
  transition: 0.5s;
}
#head .sochial a:hover {
  color: #6B67B2;
  background-color: #FFFFFF;
}
#head .whatsapp {
  width: 200px;
  height: 35px;
  font-size: 17px;
  position: absolute;
  top: 25px;
  left: 120px;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
}
#head .whatsapp i {
  padding-right: 10px;
}
#head nav {
  width: 1120px;
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -420px;
}
#head nav .logo {
  width: 100px;
  height: 80px;
  background-color: #1D1D21;
  padding: 20px 15px;
  margin-right: 503px;
}
#head nav #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
#head nav #menu li, #head nav #menu a {
  margin: 0% 9px;
  color: #1D1D21;
  text-decoration: none;
  width: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  transition: 0.5s;
}
#head nav #menu li:hover, #head nav #menu a:hover {
  color: #4F4F4F;
}
#head #box1 {
  position: absolute;
  margin-top: 170px;
  margin-left: 440px;
  width: 800px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head #box1 .box1 {
  height: 100%;
  width: 510px;
  background-color: #DBD527;
}
#head #box1 .box1 h1 {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 55px;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 200;
}
#head #box1 .box1 h2 {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 55px;
  margin-left: 15px;
  margin-top: -15px;
}
#head #box1 .box1 p {
  color: #FFFFFF;
  margin-left: 15px;
  margin-top: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
#head #box1 .box1 button {
  width: 150px;
  height: 45px;
  list-style: none;
  text-decoration: none;
  background-color: #DBD527;
  border: 1px solid #FFFFFF;
  margin-left: 15px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 15px;
  border-radius: 50px;
  transition: 0.5s;
}
#head #box1 .box1 button:hover {
  background-color: #FFFFFF;
  color: #1D1D21;
}
#head #box1 .box2 {
  width: 290px;
  height: 100%;
}
#head #box1 .box2 h2 {
  color: #2B2B2B;
  font-family: "Oswald", sans-serif;
  margin-top: 75px;
  margin-left: 110px;
  font-size: 45px;
}
#head #box1 .box2 h3 {
  color: #2B2B2B;
  font-family: "Open Sans", sans-serif;
  margin-left: 120px;
  font-size: 16px;
  font-weight: 100;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background-color: #E8D716;
  margin-top: 40px;
  position: relative;
}
#about .text {
  width: 40%;
  height: 100%;
}
#about .text .text2 {
  width: 410px;
  height: 490px;
}
#about .text .text2 h4 {
  padding-top: 100px;
  padding-left: 20px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}
#about .text .text2 div {
  width: 110px;
  height: 80px;
  padding-left: 153px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .text .text2 div h5 {
  font-weight: 800;
  margin-right: 10px;
  color: #202020;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}
#about .text .text2 div h6 {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}
#about .text .text2 p {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 30px;
}
#about .text .text2 button {
  width: 150px;
  height: 45px;
  list-style: none;
  text-decoration: none;
  background-color: #202020;
  border: 1px solid #202020;
  margin-left: 20px;
  margin-top: 70px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 15px;
  border-radius: 50px;
  transition: 0.5s;
}
#about .text .text2 button:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #1D1D21;
}
#about .icon {
  width: 45%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#about .icon .bag {
  color: #FFFFFF;
  grid-area: 1/1/2/2;
  text-decoration: none;
  margin-top: 200px;
  font-size: 90px;
}
#about .icon .bag h6 {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #32301D;
  margin-left: -14px;
}
#about .icon .lamp {
  color: #FFFFFF;
  grid-area: 2/2/3/3;
  text-decoration: none;
  margin-top: 100px;
  font-size: 90px;
}
#about .icon .lamp h6 {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #32301D;
  margin-left: -5px;
}
#about .icon .heart {
  color: #FFFFFF;
  grid-area: 1/3/2/4;
  text-decoration: none;
  margin-top: 200px;
  font-size: 90px;
}
#about .icon .heart h6 {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #32301D;
  margin-left: -8px;
}
#about .icon .wallet {
  color: #FFFFFF;
  grid-area: 2/4/3/5;
  text-decoration: none;
  margin-top: 100px;
  font-size: 90px;
}
#about .icon .wallet h6 {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #32301D;
  margin-left: -3px;
}

.pot-box {
  width: 100%;
  position: relative;
}
.pot-box .pot {
  position: absolute;
  top: -250px;
  left: 300px;
  z-index: 999;
}

#rating {
  width: 100%;
  height: auto;
  padding: 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#rating .rating-content {
  width: 90%;
  height: auto;
  margin: 24px 0;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#rating .rating-content article {
  width: 55%;
}
#rating .rating-content article > h3 {
  font-size: 18px;
  color: #5bbdbb;
  font-family: "Roboto", sans-serif;
}
#rating .rating-content article > h2 {
  font-size: 50px;
  color: #2b2b2b;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin: 16px 0;
}
#rating .rating-content article > p {
  font-size: 14px;
  color: #000;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
  word-spacing: 3px;
  line-height: 25px;
}
#rating .rating-bars {
  width: 90%;
  height: auto;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#rating .rating-bars .rating-bars-rod {
  width: calc(50% - 32px);
  margin: 16px;
}
#rating .rating-bars .rating-bars-rod .rating-bars-title {
  width: 100%;
  height: auto;
  font-size: 15px;
  color: #142022;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 12px;
}
#rating .rating-bars .rating-bars-rod .rating-bars-bar-outer {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-color: #E9ECEF;
}
#rating .rating-bars .rating-bars-rod .rating-bars-bar-outer .rating-bars-bar-inner {
  background-color: #DBD527;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#rating .rating-bars .rating-bars-rod .rating-bars-bar-outer .rating-bars-bar-inner .rating-percent {
  display: inline-block;
  background-color: #000;
  color: rgb(212, 212, 212);
  padding: 4px 6px;
  transform: translateY(-110%);
  border-radius: 3px;
  font-size: 14px;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
#rating .rating-bars .rating-bars-rod .rating-bars-bar-outer .rating-bars-bar-inner .rating-percent::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 5px;
  height: 5px;
  background-color: black;
}

#firens {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  padding: 60px 16px;
}
#firens .firend-text-box {
  width: 90%;
  height: auto;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#firens .firend-text-box .firend-text {
  width: 55%;
}
#firens .firend-text-box .firend-text p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
#firens .firend-text-box .firend-text h2 {
  color: #FFFFFF;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  padding: 10px 0px;
}
#firens .firend-pic {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#firens .firend-pic .firend-pic-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  height: auto;
  margin: 0px 10px;
}
#firens .firend-pic .firend-pic-box1 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #E8D716;
}
#firens .firend-pic .firend-pic-box1 h3 {
  color: #FFFFFF;
  font-size: 28px;
  padding: 33.6px 0.5px;
  font-family: "Oswald", sans-serif;
}
#firens .firend-pic .firend-pic-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  height: auto;
  margin: 0px 10px;
}
#firens .firend-pic .firend-pic-box2 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #E8D716;
  margin-top: 100px;
}
#firens .firend-pic .firend-pic-box2 h3 {
  color: #FFFFFF;
  font-size: 28px;
  padding: 33.6px 0.5px;
  font-family: "Oswald", sans-serif;
}
#firens .firend-pic .firend-pic-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  height: auto;
  margin: 0px 10px;
}
#firens .firend-pic .firend-pic-box3 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #E8D716;
  margin-top: 200px;
}
#firens .firend-pic .firend-pic-box3 h3 {
  color: #FFFFFF;
  font-size: 28px;
  padding: 33.6px 0.5px;
  font-family: "Oswald", sans-serif;
}

#gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  padding: 60px 16px;
  margin: 30px 0px;
}
#gallery .grid {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 60px 0px;
  padding: 30px 10px;
}
#gallery .grid .grid-text1 {
  font-size: 50px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: 1/1/2/2;
}
#gallery .grid .grid-pic1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/2/5/3;
}
#gallery .grid .grid-pic2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/6/2;
}
#gallery .grid .grid-pic3 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 6/1/10/2;
}
#gallery .grid .grid-pic4 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 5/2/9/3;
}
#gallery .grid .grid-text2 {
  font-size: 50px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 9/2/10/3;
}

#footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E8D716;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  padding: 60px 16px;
}
#footer .footer-content {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#footer .footer-content .footer-name {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
#footer .footer-content .footer-name h2 {
  padding-right: 15px;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  color: #202020;
}
#footer .footer-content .footer-name h3 {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
}
#footer .footer-content .footer-sochial {
  margin-top: 40px;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#footer .footer-content .footer-sochial h3 {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
}
#footer .footer-content .footer-sochial h2 {
  padding-left: 10px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #202020;
}/*# sourceMappingURL=style.css.map */